@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    background: #F2F3F8;
}
*{
    font-family: 'Montserrat', sans-serif;
}
.fiche{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    padding-left: 25px;
}

.info{
    background-color:#F8F8F8;
    border-radius: 15px;
    min-width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 10px; padding-bottom: 10px;

}
.info p, .info h2{
    padding-left:25px;
}
.info h2{
    font-size: 15px;
}
.prodC{
    margin-left:50%;
    transform:translateX(-50%);
}
.prodC th, .prodC td{
    padding-left: 5px;
    padding-right: 5px;
}

tr{
    padding-bottom: 100px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

h2{
    font-size: 20px;
    font-weight: bold;
}

.flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.flex-info{
    max-width: 620px;;
    display: flex;
    flex-wrap: wrap;

}

.bloc {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 1vw 2.5vw 1vw 2.5vw;
    width:95%;
    background-color: #fff;
    border-radius: 20px;
    align-self: center;
}


input{
    background: rgba(0, 0, 0, 0);
    border: 0px;
    border-radius: 10px;
    height: 50px;
}

.search{
    width: 60vh;
    min-width: 400px;
    text-align: center;
}

table{
    padding: 20px 20px 20px 20px;
    width: 80vw;
    border-radius: 10px;
}

h1{
    margin-left: 20px;
    font-size: 25px;
    font-weight:700;
}

h2{
    text-align: left;
}

th{
    height: 60px;
    border-bottom: rgb(199, 199, 199) solid 1.5px;
    color:darkgrey;
}

td{
    height: 50px;
    position: relative;
    
}

td i{
    position: absolute;
    padding-right: 10%;
    right: 0px;
    text-decoration: none;
    color: black;
}

.greenBtn{
    background: #82D67F;
    color: #F2F3F8;
    border-radius: 10px;
    width: 90%;
    height: 80%;
    border : 2px solid #82D67F;
    font-weight: bold;
    font-size: 20px;
}

.arrowPage{
    margin-left: 20px;
    margin-right: 20px;
}

.desc{
    max-width: 30vw;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding: 0px 100px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modalBtn{
    background: #82D67F;
    color: #F2F3F8;
    border-radius: 10px;
    width: 30%;
    height: 20%;
    border : 2px solid #82D67F;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
select{
    height: 25px;
    margin-bottom: 10%;
    border-radius: 5px;
    width: 80%;
}

.hidden{
    display: unset;
}

.red{
    color:red;
}

@media (max-width: 900px){
    .info{
        margin-left: 8% ;
    }
}